body {
  background-image: url('./blue.jpg');
  background-position: static;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Nav{
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.NavLink{
  font-family: 'DM Mono', monospace;
  font-size: large;
  padding: 1rem;
  width: 15%;
  margin: 1rem;
}
.homeInfo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 30rem;
  line-height: 3.0;
  margin: auto;
  text-align: center;
}

.headers{  font-family: 'DM Mono', monospace;}

p{  
  font-family: 'DM Mono', monospace;
  font-size: large;
}



.footer{
  height: 5rem;
  width: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: start;
  padding: 1rem;
}

body > #root > div {
  height: 100vh;
}

.lsform{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.center{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.submitButton{
  background-color: grey;
  border: 1px solid rgb(43, 109, 231);
  background-color: rgb(53, 53, 53);
  border-radius: .2rem;
  color: rgb(51, 115, 235);

}
.ant-card.ant-card-bordered{
  width:20rem;
  border:'1px solid black';
}

h1{
  font-family: 'DM Mono', monospace;
}

.PWrapper{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
   margin:auto;
  width:80%;
  margin-top:5rem;
   justify-content: space-evenly;
}


@media(max-width: 500px) {
  .Nav{
   flex-direction: column;
   width: 100%;
  }
  .ant-page-header{
    width: 100%;
  }
  .homeInfo{
    width: 80%;
  }
  .lsform{
    flex-direction: column;
  }
  .ant-card.ant-card-bordered{
    width: 100%;
  }
}